<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jio.hybrid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ContactList</name>
    <description>
        A contact list app that displays the contacts and duration of calling.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        CONTACT LIST
		</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*://sapui5.hana.ondemand.com/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="callsplugin" spec="^0.2.3" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-contacts" spec="~2.3.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
